/* -- admonition -- */
div.admonition {
    color: #c09853;
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
}

/* -- danger, error -- */
div.danger, div.error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

/* -- warning, caution, attention -- */
div.warning, div.caution, div.attention {
}

/* -- note, important -- */
div.note, div.important {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

/* -- hint, tip -- */
div.hint, div.tip {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

div.topic {
    background-color: ;
    border-color: #dddddd;
}

h1, .h1 {
    font-size: 40px;
}

h2, .h2 {
    font-size: 30px;
}

h3, .h3 {
    font-size: 20px;
}
