[run]
omit =
    *__init__*
    test/*
    setup.py
    example_script.py

[report]
exclude_lines =
    raise NotImplementedError
    if __name__ == .__main__.:
omit =
    test/*
    tests/*
    setup.py
