[run]

source =
    openpnm

[report]

omit =
    docs/*
    tests/*
    scripts/*
    examples/*
    */__init__.py
    openpnm/__version__.py
    openpnm/visualization/*
    example.py
    setup.py

exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
