[run]

source =
    openpnm

[report]

omit =
    */__init__.py
    docs/*
    example.py
    examples/*
    openpnm/solvers/_petsc.py
    openpnm/__version__.py
    openpnm/visualization/*
    scripts/*
    setup.py
    tests/*

exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
