*.pyc
.idea/
.spyproject/
.pytest_cache/
.vscode/
*.egg-info
docs/_build/
public/

build/
dist/

*/.ipynb_checkpoints/

*.vtp
*.pnm
*.hdf
*.xmf
/*.dat
!tests/fixtures/*.vtp
!tests/fixtures/*.pnm
!tests/fixtures/*.hdf
!tests/fixtures/*.xmf

.DS_Store
