*.pyc
.idea/
.spyproject/
.pytest_cache/
.vscode/
*.egg-info
docs/_build/
public/

build/
dist/

# sphinx stubs
**/generated/

# ** means any number of levels, * means only one
**/.ipynb_checkpoints/*.ipynb

*.vtp
*.pnm
*.hdf
*.xmf
/*.dat
!tests/fixtures/*.vtp
!tests/fixtures/*.pnm
!tests/fixtures/*.hdf
!tests/fixtures/*.xmf

.DS_Store
