sudo: false

language: python

python:
  - "3.3"
  - "3.4"

cache: apt

addons:
  apt:
    packages:
    - libatlas-dev
    - libatlas-base-dev
    - liblapack-dev
    - gfortran

before_install:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda update --yes conda

install:
  - conda install --yes python=$TRAVIS_PYTHON_VERSION atlas numpy scipy matplotlib
  - pip install transforms3d
  - pip install -r test_requirements.txt
  - python setup.py install

script:
- ./bin/test pep8 cov

after_success:
- codecov

deploy:
  provider: pypi
  user: jgostick
  password:
    secure: cCglX1NDCf/dkWeqmMZ0wYGi33FoGKYNSYBMVdS3LhpfsQ3+wCYzP/1uw8mM1KsHI9kAe+MOpQmxCe6ryt6/Y5DpFMqzbfMjaMI/PvYO7NhPDeJzYIJ4Mq1LCPGbFih8eMej7aLd/jLK4fiJtA3PUs1vRJCWOgRxHw5+DWhJBWw=
  on:
    tags: true
    branch: master
