/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.044/JuliaMono-Medium.woff2');

/* main {
    background-color: white;
    background-image: url(./_static/images/openpnm_logo.png);
} */

/* article {
    padding-top: calc(var(--pst-header-height));
}

.bd-sidebar, .bd-toc {
    top: calc(var(--pst-header-height));
} */

div#navbar-menu {
    padding-left: 25px;
}

input#search-input {
    border-radius: 10px;
}

a.current {
    background-color: lightgoldenrodyellow;
    border-radius: 8px;
}

/* li::marker {
    content: '- ';
    font-size: 1.2em;
} */

h1, h2, h3, h4, body {
    font-family: 'Noto Sans';
}

.toctree-l1 {
    font-weight: 400;
}

/* .toctree-l2 {
    font-family: 'JuliaMono Medium', monospace;
    font-weight: 400;
} */

.toctree-l3 {
    font-family: 'JuliaMono Medium', monospace;
    font-weight: 300;
}

.toctree-l4 {
    font-family: 'JuliaMono Medium', monospace;
    font-weight: 300;
}

a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

nav .toctree-l1 > ul {
    border-left: 2px solid lightgray;
    margin-left: 35px;
    padding-left: 0px !important;
}

nav .toctree-l2 > ul {
    border-left: 2px dashed lightgray;
    margin-left: 35px;
    padding-left: 0px !important;
}

nav .toctree-l3 > ul {
    border-left: 2px dotted lightgray;
    margin-left: 35px;
    padding-left: 0px !important;
}

.toctree-l3 > ul > li > a {
    line-height: 125% !important;
    font-family: "JuliaMono Medium", monospace;
}

section#examples2 > div > ul > li.toctree-l1 > a {
    font-size: 150%;
    font-weight: 500;
}

section#examples2 > div > ul > li.toctree-l1 {
    margin-bottom: 10px;
}


img#banner {
    float: left;
    opacity: 1;
    display: block;
    margin-left: auto;
    margin-right: 20px;
    height: 85px;
    border-radius: 10px;
}

img#banner2 {
    /* float: left; */
    opacity: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border-radius: 10px;
}

img.logo__image {
    background-color: white;
    border-radius: 10px;
}

/* .tabbed-content {
    padding-bottom: 0;
} */

/* div.highlight > pre {
    border-radius: 5px;
} */

/* div#navbar-collapsible a {
    font-family: sans-serif !important;
} */
