/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;500&display=swap');

main {
    background-color: white;
    background-image: url(./_static/images/porespy_logo.png);
}

body {
    font-family: sans-serif;
    background-color: #F8F9FB;
    padding-top: calc(var(--pst-header-height));
}

h1, h2, h3, h4 {
    font-family: sans-serif;
}

.bd-sidebar, .bd-toc {
    top: calc(var(--pst-header-height));
}

div#navbar-menu {
    padding-left: 25px;
}

input#search-input {
    border-radius: 10px;
}

.toctree-l1 {
    font-family: 'Overpass Mono', monospace;
    font-weight: 500;
}

.toctree-l2 {
    font-family: 'Overpass Mono', monospace;
    font-weight: 400;
}

.toctree-l3 {
    font-family: 'Overpass Mono', monospace;
    font-weight: 300;
}

.toctree-l4 {
    font-family: 'Overpass Mono', monospace;
    font-weight: 300;
}

a {
    overflow: hidden;
    text-overflow: ellipsis;
}

nav .toctree-l1 > ul {
    border-left: 1px solid gray;
    margin-left: 30px;
    padding-left: 0px !important;
}

nav .toctree-l2 > ul {
    border-left: 1px dashed gray;
    margin-left: 30px;
    padding-left: 0px !important;
}

nav .toctree-l3 > ul {
    border-left: 1px dotted gray;
    margin-left: 30px;
    padding-left: 0px !important;
}

img#banner {
    float: left;
    opacity: 1;
    display: block;
    margin-left: auto;
    margin-right: 20px;
    height: 85px;
}

.tabbed-content {
    padding-bottom: 0;
}

div.highlight > pre {
    border-radius: 5px;
}

div#navbar-collapsible a {
    font-family: sans-serif !important;
}
