/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300&display=swap');

main {
    background-color: white;
    background-image: url(./_static/images/porespy_logo.png);
}

body {
    font-family: sans-serif;
    background-color: #F8F9FB;
    padding-top: calc(var(--pst-header-height));
}

h1 {
    font-family: sans-serif;
}

.bd-sidebar, .bd-toc {
    top: calc(var(--pst-header-height));
}

div#navbar-menu {
    padding-left: 25px;
}

input#search-input {
    border-radius: 10px;
}

.toctree-l2 > a.reference.internal {
    font-family: 'Overpass Mono', monospace;
}

img#banner {
    float: left;
    opacity: 1;
    display: block;
    margin-left: auto;
    margin-right: 20px;
    height: 85px;
}

.tabbed-content {
    padding-bottom: 0;
}

div.highlight > pre {
    border-radius: 5px;
}
