@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.044/JuliaMono-Medium.woff2');

main {
    background-color: white;
    background-image: url(./_static/images/openpnm_logo.png);
}

body {
    background-color: #F8F9FB;
    padding-top: calc(var(--pst-header-height));
}

.bd-sidebar, .bd-toc {
    top: calc(var(--pst-header-height));
}

div#navbar-menu {
    padding-left: 25px;
}

input#search-input {
    border-radius: 10px;
}

/* h1, h2, h3, h4, body {
    font-family: 'Open Sans';
} */

/* .toctree-l1 {
    font-family: 'PT Mono', 'Robot Mono', 'Fira Code', monospace;
    font-weight: 500;
} */

.toctree-l2 {
    font-family: 'JuliaMono Medium', 'Robot Mono', 'Fira Code', monospace;
    font-weight: 400;
}

.toctree-l3 {
    font-family: 'JuliaMono Medium', 'Robot Mono', 'Fira Code', monospace;
    font-weight: 300;
}

.toctree-l4 {
    font-family: 'JuliaMono Medium', 'Robot Mono', 'Fira Code', monospace;
    font-weight: 300;
}

a {
    /* overflow: hidden; */  /* Causes navbar to be slightly thicker */
    text-overflow: ellipsis;
}

nav .toctree-l1 > ul {
    border-left: 1px solid gray;
    margin-left: 30px;
    padding-left: 0px !important;
}

nav .toctree-l2 > ul {
    border-left: 1px dashed gray;
    margin-left: 30px;
    padding-left: 0px !important;
}

nav .toctree-l3 > ul {
    border-left: 1px dotted gray;
    margin-left: 30px;
    padding-left: 0px !important;
}

img#banner {
    float: left;
    opacity: 1;
    display: block;
    margin-left: auto;
    margin-right: 20px;
    height: 85px;
}

.tabbed-content {
    padding-bottom: 0;
}

div.highlight > pre {
    border-radius: 5px;
}

/* div#navbar-collapsible a {
    font-family: sans-serif !important;
} */
