attr
auto_all
chemicals
docrep>=0.3
flatdict
gitpython
h5py
ipython
jsonschema
json-tricks
matplotlib
mkl
networkx
numba
numpy
pandas
pypardiso>=0.4
scikit-image
scipy
sympy
terminaltables
tqdm
traits
transforms3d
