name: Windows

on: [push]

jobs:
  build:

    if: (! contains(github.event.head_commit.message, 'ci min')) &&
        (! contains(github.event.head_commit.message, 'ci skip')) &&
        (! contains(github.event.head_commit.message, 'ci examples'))

    runs-on: ${{ matrix.operating-system }}
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.6, 3.7]
        operating-system: [windows-latest]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - uses: actions/cache@v2
      with:
        path: ~\AppData\Local\pip\Cache
        key: ${{ runner.os }}-pip-${{ hashFiles('**/pip_requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install Dependencies
      run: |
        pip install -r requirements/pip_requirements.txt
        pip install -r requirements/test_requirements.txt
        python setup.py install

    - name: Running tests
      run:
        pytest --pycodestyle --ignore=scripts/ --ignore="openpnm/utils/petsc.py"
