on: push
  # push:
  #   tags:
  #     - 'v*'

name: Create release notes

jobs:
  build:
    name: Create release notes
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: ./logger.sh
          draft: true
          prerelease: false
